
<a id="app-whatsapp" target="_blanck" href="https://api.whatsapp.com/send?phone=51941456677&amp;text=Hola!&nbsp;de&nbsp;la&nbsp;página,&nbsp;una&nbsp;consulta?">
	<i class="fab fa-whatsapp" alt="Whatsapp"></i>
</a>

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-6">
				<p class="text-muted"> {% now "Y" %} - NHeComercio </p>
			</div>
			<div class="col-md-6 text-md-center">
				<span  class="px-2">narcizohinojosa@gmail.com</span>
				<span  class="px-2">+511 941456677</span>
				<!-- <span  class="px-2">Street name 123, Avanue abc</span> -->
			</div>
			<!-- <div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div> -->
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$('.thumb a').click(function(e) {
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})

	$(".mainImage img").mouseover(function(e) {
		var capturaImg = $(this).attr("src");
		$(".lupa img").attr("src", capturaImg);
		$(".lupa").fadeIn("fast");
		$(".lupa").css({
			"height": $(".visorImg").height()+"px",
		})
	})

	$(".mainImage img").mouseout(function(e) {
		$(".lupa").fadeOut("fast");
	})

	$(".mainImage img").mousemove(function(e) {
		var posX = e.offsetX;
		var posY = e.offsetY;
		$(".lupa img").css({
			"margin-left": -posX+"px",
			"margin-top": -posY+"px"
		})
	})

</script>
</body>
</html>

